#NewsRibbon{
    background-color: lavender;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 200px;
    font-family: Aharoni;
}
#newsName{
    background-color: lavender;
    width: 200px;
    padding: 10px;
    position: fixed;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    font-family: "Arial";
}
#user{
    background-color: lavender;
    width: 230px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    float: left;
    text-align: left;
}

#news1,#news3,#news5,#news7,#news9{
    display: inline-block;
    border: 5px solid black;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    border-radius: 5px;
    padding-left: 10px;
}
#news2,#news4,#news6,#news8,#news10{
    /*width: 950px;*/
    display: inline-block;
    /*height: 200px;*/
    border: 5px solid black;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border-radius:5px;
    padding-left: 10px;
}
#clearLeft{
    clear: left;
}
#filter{
    background-color: lavender;
    width: 230px;
    padding: 20px ;
    float: right;
    border-radius: 5px;
}
#clearRight{
    clear: right;
}
#footer{
    background-color: lavender;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 5px;
}
body{
    background-color: gainsboro;
}
.clearRight{
    clear: right;
}